.container-nav {
    background-color: #131312;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 100px solid #131312;
    padding-right: 100px;
    gap: 10px;
;

}

.item-nav-1 {
    width: 200px;
    height: 50px;
    background-color: #131312;
}
