.containerAvatar {
    display: flex;
    max-width: 1220px;
    width: 1000px;
    justify-content: center;
    gap: 50px;

}

.item-avatar-text {
    width: 50%;
}

.item-avatar-img {
    width: 50%;
}


.item-avatar-img-imagem {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.item-avatar-paragraph {

    text-wrap: wrap;

}