* {
  padding: 0px;
  margin: 0px;
}

.body {
  font-family: sans-serif;
  background-color: black;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
 
}

.title {
  margin-left: 180px;
  margin-bottom: 30px;
  color: white;
}
.title2{
  margin-left: 180px;
  margin-bottom: 10px;
  color: white;
}

#gameBoard {
  margin-left: 100px;
  background-color: blue;
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-template-rows: 10rem 10rem 10rem;
  gap: 1rem;
  margin-bottom: 2rem;
  max-width: 32rem;
}

#gameBoard span {
  background-color: #ddd;
  display: grid;
  place-content: center;
  font-size: 50rem;
}

#gameBoard span.win {
  background-color: #25a340;
}

#player1 {
  font-size: 20px;
  margin-left: 10px;
  color: white;
}


#player2 {
  font-size: 20px;
  margin-left: 10px;
  color: white;
}
.start {
  margin-left: 30px;
  font-size: 22px;
}

.x {
  margin-right: 10px;
  font-size: 30px;
  margin-left: 90px;
  color: white;
 
}
.o {
  margin-right: 10px;
  font-size: 30px;
  margin-left: 87px;
  color: white;

}


.cursor-pointer {
  cursor: pointer;
}

.foter{
  margin-bottom: -30px;
  text-align: center;
  color: white;
}
